[submodule "WLN"]
	path = WLN
	url = git@devel.depfac.com:atos/buildout-wln.git
[submodule "RIA"]
	path = RIA
url=git@github.com:Niboo/buildout-RIA.git
[submodule "RBO"]
	path = RBO
url=git@github.com:Niboo/buildout-RBO.git
[submodule "FDA"]
	path = FDA
url=git@github.com:Niboo/buildout-FDA.git
[submodule "NOM"]
	path = NOM
	url = git@github.com:Niboo/buildout-NOM.git
[submodule "ITP"]
	path = ITP
	url = git@github.com:Niboo/buildout-ITP.git
[submodule "NIB"]
	path = NIB
	url = git@github.com:Niboo/buildout-NIB.git
[submodule "CPT"]
	path = CPT
url=git@github.com:Niboo/buildout-CPT.git
[submodule "SAS"]
	path = SAS
	url = git@github.com:Niboo/buildout-SAS.git
[submodule "ALT"]
	path = ALT
	url = git@github.com:Niboo/buildout-ALT.git
[submodule "WPO"]
	path = WPO
	url = git@github.com:Niboo/buildout-WPO.git
[submodule "DEL"]
	path = DEL
	url = git@github.com:Niboo/buildout-DEL.git
[submodule "AES"]
	path = AES
	url = git@github.com:Niboo/buildout-AES.git
[submodule "ERG"]
	path = ERG
	url = git@github.com:Niboo/buildout-ERG.git
[submodule "MVS"]
	path = MVS
	url = git@github.com:Niboo/buildout-MVS.git
[submodule "INO"]
	path = INO
url=git@github.com:Niboo/buildout-INO.git
[submodule "MUL"]
	path = MUL
	url = git@github.com:Niboo/buildout-MUL.git
[submodule "DAN"]
	path = DAN
	url = git@github.com:Niboo/buildout-DAN.git
[submodule "RIO"]
	path = RIO
	url = git@github.com:Niboo/buildout-RIO.git
[submodule "VET"]
	path = VET
	url = git@github.com:Niboo/buildout-VET.git
[submodule "ERC"]
	path = ERC
	url = git@github.com:Niboo/buildout-ERC.git
[submodule "BEL"]
	path = BEL
	url = git@github.com:Niboo/buildout-BEL.git
[submodule "MAI"]
	path = MAI
	url = git@github.com:Niboo/buildout-MAI.git
